/*************** GENERAL STARTS HERE *******************/

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #212529;
}

/*************** GENERAL ENDS HERE *******************/


/*************** NAVIGATION BAR STARTS HERE *******************/

nav{

    /* RECOVER CODE FROM BELOW IF THE CURRENT ONE BREAKS */

        /*width: 100%;*/
        /*background-color: #343A40;*/
        /*display: flex;*/
        /*justify-content: space-between;*/
        /*align-items: center;*/

        /** Code below works **/

        /*width: 100%;*/
        /*background-color: #343A40;*/
        /*display: flex;*/
        /*justify-content: space-between;*/
        /*align-items: center;*/
        /*padding: 10px 0;*/

    width: 100%;
    background-color: #343A40;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    position: relative;
}

.logo-container{
    display: flex;
    width: fit-content;
    margin-left: 25px;
}

.logo{
    display: flex;
    color: #ADB5BD;
    box-sizing: border-box;
    font-size: 17px;
    text-decoration: none;
}

.search-container {
    /*display: flex;*/
    /*justify-content: center;*/
    /*width: fit-content;*/
    /*height: 30px;*/

    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    width: fit-content;
    height: 30px;
}

#navbar-search-box{
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #343A40;
    border-radius: 10px;
    border: 1px solid #6C757D;
}

#navbar-search-box::placeholder{
    color: #6C757D;
    padding-left: 5px;
}

#navbar-search-button{
    display: flex;
    align-items: center;
    margin-left: 10px;
    background-color: #343A40;
    border-radius: 10px;
    border: 1px solid #6C757D;
    color: #6C757D;
}

#navbar-search-button:hover{
    background-color: #6C757D;
    color: white;
    cursor: pointer ;
}

.hamburger-container {
    display: none;
    align-items: center;
    margin-right: 25px;
    color: #DEE2E6;
}

.hamburger-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    cursor: pointer;
    color: #DEE2E6;
}

.hamburger-menu .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 2px;
}

/*************** NAVIGATION BAR ENDS HERE *******************/

/*************** REGISTRATION CONTAINER STARTS HERE *******************/

.main-container{
    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    /*width: fit-content;*/
    /*height: fit-content;*/
    /*margin-top: 20px;*/
    /*background-color: #343A40;*/
    /*padding: 30px;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: fit-content;
    background-color: #343A40;
    color: #ADB5BD;
    border-radius: 10px;
    margin: auto;
    max-width: 50%;
    padding: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#name-input-box , #surname-input-box , #birthday-input-box ,
#username-input-box , #email-input-box , #password-input-box {
    display: flex;
    width: 100%;
    height: 30px;
    background-color: #343A40;
    border-radius: 10px;
    border: 1px solid #6C757D;
}

#name-input-box::placeholder , #surname-input-box::placeholder, #birthday-input-box,
#username-input-box::placeholder , #email-input-box::placeholder, #password-input-box::placeholder {
    color: white;
    padding-left: 5px;
}

#birthday-input-box::-webkit-calendar-picker-indicator{
    display: none;
}

#register-login-button{
    width: 100%;
    margin: 30px 3px 10px 3px;
    padding: 7px;
    display: flex;
    background-color: #343A40;
    border-radius: 10px;
    font-size: 20px;
    color: #6C757D;
    text-align: center;
    justify-content: center;
    border: 1px solid #6C757D;
}

#register-login-button:hover{
    background-color: #6C757D;
    color: white;
    cursor: pointer ;
}


/*************** REGISTRATION CONTAINER ENDS HERE *******************/



/* Media query for screens smaller than 768px */

@media (max-width: 768px) {

    .hamburger-container {
        display: none; /* Show hamburger menu */
    }

    .logo-container {
        margin-right: auto;
        margin-left: auto;
    }

    .search-container {
        display: none; /* Hide search container */
    }

    .main-container {
        padding: 10px;
        margin: 20px 0 10px 0; /* Reduce padding for smaller screens */
        max-width: 50%; /* Increase max-width for better fit */
    }

}

/* Media query for screens smaller than 480px */

@media (max-width: 480px) {

    nav {
        flex-direction: column;
        align-items: flex-start;
    }

    .logo-container {
        margin-right: auto;
        margin-left: auto;
    }

    .hamburger-container {
        margin-right: 10px;
    }

    .main-container {
        margin: 20px 0 10px 0; /* Further reduce padding for very small screens */
        max-width: 50%; /* Use full width for very small screens */
    }
}

