.main-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input-group {
    display: flex;
    flex-direction: column;
}

.input-wrapper {
    display: flex;
    align-content: center;
    justify-content: center;
    border-radius: 4px;
    padding: 5px;
}

.input-icon {
    color: gray;
}

.register-button {
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    text-align: center;
    width: 55%;
    justify-self: center;
    align-self: center;
}
